In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#from chart_studio.plotly import plotly as py
#import plotly.graph_objects as go

%matplotlib inline

import warnings
warnings.simplefilter('ignore')

In [ ]:
df = pd.read_csv('scraped_finn_data.csv')

In [ ]:
df.head()

In [ ]:
# seems like Fasiliteter values were not sraped correctly, I will drop this column  

display(df['Fasiliteter'].head(5))

df.drop('Fasiliteter', axis = 1, inplace = True)

In [ ]:
df.shape

In [ ]:
# From the above cell, seems like we don't have any NaN values. 
# This is because I used -1 as my missing values while scraping the data

# convert -1 to NaN
# The reason why i am converting all -1 values to NaN in the entire dataset, is simply because I beleive 
# if the dataset has -1 as a real value and not -1 for an empty values. This -1 is a corrupt value and still should be 
# replaced with a NaN
df = df.replace('-1', np.NaN)

In [ ]:
df.head(3)

In [ ]:
# drop rows where all values are NaN

df.dropna(how = 'all').reset_index().drop('index', axis = 1,inplace = True)

In [ ]:
# check for duplicates

df.duplicated().sum()

In [ ]:
# drop all duplicates

df.drop_duplicates(inplace = True)

In [ ]:
#df.dtypes

In [ ]:
# check for missing values
df.isna().sum()

In [ ]:
df.isna().sum().plot(kind ='bar', figsize=(11,8))

In [ ]:
# I will drop all rows that don't contain at least 12 valid values (not NaN)

df.dropna(thresh = 12, inplace = True)

In [ ]:
df.shape[0]

In [ ]:
df.isna().sum()

### # working with rows where 'Byggeår' is NaN (empty)

In [ ]:
filt = (df['Byggeår'].isna())
df.loc[filt]

In [ ]:
# just 2 rows with missing 'Byggeår', I will correct values in these 2 rows manually (cuz it's just 2 rows )

display(df.loc[949, 'Beskrivelse'])

# from Beskrivelse, I see that they mentioned 'Under oppføring' which means that they are still in the constraction fase
# I will set 'Byggeår' to 2021. I will also correct some other values

df.loc[949, ['Byggeår', 'Bruksareal', 'Soverom', 'Etasje']] = ('2021', '4863', '4', '2')

In [ ]:
display(df.loc[1198, 'Beskrivelse'])

df.loc[1198, ['Byggeår', 'Primærrom', 'Etasje', 'Soverom']] = ('1901', '20.780', '1', '5')

### # working with rows where 'Etasje' is NaN (empty)

In [ ]:
df[ df['Etasje'].isna() ]

In [ ]:
# check the 'Beskrivelse' column, cuz we might find details about the floor ('Etasje') mentioned there.

for i in range(len(df[df['Etasje'].isna()].reset_index())):
    print(df.iloc[i]['Beskrivelse'] + '\n')

In [ ]:
# I didn't find any useful information by checking the Beskrivelse for the rows where 'Etasje' is missing.
# But the data in these rows are in a good shape, except for Etasje. To avoid deleting these rows
# I will just fill 'Etasje' with the most frequent value, which is the second floor

display( df['Etasje'].value_counts().index[0] ) 

df['Etasje'].fillna(value = '2', inplace = True)

In [ ]:
df.columns

### working with the 'Prisantydning', 'Fellesgjeld', 'Omkostninger', 'Totalpris', 'Felleskost' columns

#### 'Fellesgjeld'

In [ ]:
# if the value of a 'Fellesgjeld' cell contains 'per år' then its actually a 'kommunale avgifter' and  (I checked for these 
# addresses on Finn.no). this amount of money will be divided on 12 (number of months) and add it as if it was 'Felleskost.
# and I will assign 0 to fellesgjeld.

filt = (df['Fellesgjeld'].str.contains('per år'))

df[filt]

In [ ]:
df.loc[filt, ['Felleskost']] = df.loc[filt, 'Fellesgjeld'].apply(
    lambda x: str(np.round((float(x.replace('kr per år', '').replace(' ','')) / 12), 2)))

In [ ]:
df.loc[82]

In [ ]:
df.loc[filt, 'Fellesgjeld'] = '0'

#### Felleskost

In [ ]:
filt = (df['Felleskost'].replace(np.NaN, 'NaN').str.contains('per år'))
df.loc[filt]

In [ ]:
df.loc[filt, 'Felleskost'] = df.loc[filt, 'Felleskost'].apply( lambda x: str(
    np.round((float(x.replace('kr per år', '').replace(' ','')) / 12), 2)) )

In [ ]:
# here, I will swap values: 'Fellesgjeld' will go for 'Omkostninger' and 'Omkostninger' will go for 'Totalpris'

df.loc[filt, ['Omkostninger', 'Totalpris']] = df.loc[filt, ['Fellesgjeld', 'Omkostninger']].values

In [ ]:
# i will also set values for 'Fellesgjeld' to be '0'

df.loc[filt, 'Fellesgjeld'] = '0'

In [ ]:
df.loc[filt]

####  'Prisantydning', 'Fellesgjeld', 'Omkostninger', 'Totalpris' columns

#### Totalpris

In [ ]:
# convert the values of these columns to numric values

for col in ['Prisantydning', 'Fellesgjeld', 'Omkostninger', 'Totalpris', 'Felleskost']:
    df[col] = df[col].apply(lambda x: str(x).replace('kr','').replace(' ','')).astype('float')

In [ ]:
df.info()

In [ ]:
filt = (df['Prisantydning'] > df['Totalpris'])
df.loc[filt]

In [ ]:
# here, I will also swap values: 'Fellesgjeld' will go for 'Omkostninger' and 'Omkostninger' will go for 'Totalpris'

df.loc[filt, ['Omkostninger', 'Totalpris']] = df.loc[filt, ['Fellesgjeld', 'Omkostninger']].values

In [ ]:
# i will also set values for 'Fellesgjeld' to be '0'

df.loc[filt, 'Fellesgjeld'] = '0'

In [ ]:
# i will also set values for 'Fellesgjeld' to be '0'

df.loc[filt]

In [ ]:
filt = (df['Omkostninger'] > df['Totalpris'])
df.loc[filt]

In [ ]:
df.isna().sum().plot(kind ='bar', figsize=(11,8))

In [ ]:
filt = (df['Totalpris'].isna())
df.loc[filt]

In [ ]:
# here, I will also swap values: 'Fellesgjeld' will go for 'Omkostninger' and 'Omkostninger' will go for 'Totalpris'
# why i am sure that the value of the Fellesgjeld column is the real values of the 'Omkostninger', the reason is that in Norway
# when you sell a 'Selveier' house/flat, we pay 2.5% of the 'Totalpris' as 'Omkostninger', and by calculating 2.5% of the
# 'Totalpris' which if the values in the 'Omkostninger' column by now, you get the number we have in the 'Fellesgjeld' column

df.loc[filt, ['Omkostninger', 'Totalpris']] = df.loc[filt, ['Fellesgjeld', 'Omkostninger']].values

In [ ]:
# i will also set values for 'Fellesgjeld' to be '0'

df.loc[filt, 'Fellesgjeld'] = '0'

In [ ]:
df.loc[filt]

In [ ]:
filt = (df['Totalpris'].isna())
df.loc[filt]

In [ ]:
# the 'Totalpris' is 'Prisantydning' + 'Omkostninger'
# the Omkostninger for these rows either 0 or unrealistic values
# I will set the 'Totalpris' for these rows to be the same as 'Prisantydning'

df.loc[filt, 'Totalpris'] = df.loc[filt, 'Prisantydning'].values

In [ ]:

filt = (df['Felleskost'].isna())
df.loc[filt]

In [ ]:
# if the value of the 'Omkostninger' is less than 10 000 then it belongs to 'Felleskost'

df[filt, 'Felleskost'] = df.loc[filt, 'Omkostninger'].apply(lambda x: x if x < 10000 else 0)

In [ ]:
# appartment at index 134 and 154 are the same, but the one at index 156 is missing Eiendomsmegler, I will drop appartment 
# that are identical without Eiendomsmegler

#display(df.sort_values('Eiendomsmegler'))

'''
df = df.sort_values('Eiendomsmegler').drop_duplicates(subset = ['Address', 'Prisantydning', 'Fellesgjeld', 'Omkostninger', 'Totalpris',
       'Felleskost', 'Boligtype', 'Eieform_bolig', 'Soverom', 'Primærrom',
       'Bruksareal', 'Etasje', 'Byggeår', 'Energimerking', 'Beskrivelse'], keep='first')
'''

In [ ]:
df.head()

In [ ]:
df[ df['Omkostninger'].isna() ]

In [ ]:
# from the above its obvious that, 'Boligtype' to the houses that misses 'Omkostninger' is (Selveier). 
# Omkostninger for Selveier houses/appartments in Norway is 2.5% of the 'Prisantydning'. This can easily be calculated.

filt = (df['Omkostninger'].isna())

df.loc[filt, 'Omkostninger'] = df.loc[filt, 'Prisantydning'].apply(
    lambda x: np.round(float(x.split('kr')[0].replace(' ', '')) * 0.025, 2))

In [ ]:
df[df['Totalpris'].isna()]

In [ ]:
# replace NaN value with string 0 to be able to compare values later on

filt = ( df['Totalpris'].isnull() )

df.loc[filt, 'Omkostninger'] = df.loc[filt, 'Omkostninger'].fillna('0')

In [ ]:
# if the Omkostninger is higher than Prisantydning, then the Omkostninger is most likely the value of Totalpris,
# if not consider the Prisantydning as the Totalpris

df.loc[filt,'Totalpris'] = df.loc[filt].apply(lambda x : x['Omkostninger'] if x['Omkostninger'] > x['Prisantydning'] else x['Prisantydning'], axis = 1)

In [ ]:
# the Omkostninger values in these rows belong to Felleskost, because Omkostninger is not paid yearly, but Felleskost
# can be that, but it's still paid monthly

filt = (df['Omkostninger'].str.contains('år'))
display(df.loc[filt])


# from Omkostninger --> Felleskost for these cells

df.loc[filt,'Felleskost'] = df.loc[filt,'Omkostninger']
df.loc[filt,'Omkostninger'] = '0'
display(display(df.loc[filt]))

In [ ]:
df.isna().sum()

In [ ]:
df['Felleskost'].fillna(value = '0', inplace = True)
filt = (df['Felleskost'].str.contains('år'))
display(df.loc[filt])

In [ ]:
#  divided the value by 12 for rows with Felleskost per år (yearly)

df.loc[filt,'Felleskost'] = df.loc[filt,'Felleskost'].apply(lambda x:  str(int(x.replace('per år', '').replace('kr','').replace(' ','').strip())/12))

In [ ]:
# remove kr from Prisantydning, Fellesgjeld, Omkostninger, Totalpris, Felleskost

df['Prisantydning'] = df['Prisantydning'].apply(lambda x: x.replace('per år','').replace('kr','').replace(' ','').strip())
df['Fellesgjeld'] = df['Fellesgjeld'].apply(lambda x: x.replace('per år','').replace('kr','').replace(' ','').strip())
df['Omkostninger'] = df['Omkostninger'].apply(lambda x: x.replace('per år','').replace('kr','').replace(' ','').strip())
df['Totalpris'] = df['Totalpris'].apply(lambda x: x.replace('per år','').replace('kr','').replace(' ','').strip())
df['Felleskost'] = df['Felleskost'].apply(lambda x: x.replace('per år','').replace('kr','').replace(' ','').strip())

In [ ]:
df['Felleskost'].unique()

In [ ]:
df.columns

In [ ]:
df['Prisantydning'].unique()

In [ ]:
df.isna().sum()

In [ ]:
df.to_csv('data_cleaned.csv', index = False)

In [ ]:
data_inn_df = pd.read_csv('data_cleaned.csv')
data_inn_df.head()